/* Set the font and background color for the entire page */
body {
    font-family: "Roboto", sans-serif;
    background-color: #b5e3f7;
    margin: 50px;
    text-align: left;
  }

  tr {
    line-height: 14px;
  }

  #subButton {
      font-size: 2vw;
      width: 100%;
      margin:0 auto;
      display:block;
      margin-top: 1em;
      background-color: #ff5722;
      }  

    #subButton a { 
        text-decoration: none;
    }

  
  /* Set the font size and margin for the header */
  header {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

#footer {
    position: fixed;
    top: 95vh;
    left: 50vw;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

  .answer {
    display: none;
  }
  
  .column {
    float: left;
    width: 50%;
  }

  th {
      font-size: 2vw;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
  }

  th input {
      width: 80%;
      height: 10%;
  }

  th p {
      margin-left: 1em;
      margin-right: 1em;
  }

  table {
    margin: 0 auto;
  }

  input {
      width: 100%;
  }


  /* Style the navigation links */
  nav a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem;
  }

  button a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem;
  }

  button {
    font-size: 2vw;
    width: 100%;
    margin:0 auto;
    display:block;
    margin-top: 1em;
    background-color: #ff5722;
  }

  .diffbox {
        position: fixed;
        padding: 5vh;
        top: 50vh;
        left: 50vw;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    background-color: #ffd600;
  }

  .diffbox h1 {
      font-size: 3vw;
  }

  .diffbox h2 {
      font-size: 2vw;
  }
  
  nav a:hover {
    color: #fff;
    background-color: #333;
  }
  
  /* Style the form */
  form {
    margin-bottom: 0rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  form label {
    display: block;
    margin-bottom: 0rem;
    font-size: 2em;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 50px;
  }
  
  /* Style the quiz results */
  .results {
    margin-bottom: 2rem;
  }
  
  .results h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .results p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .results .correct {
    color: #4CAF50;
  }
  
  .results .incorrect {
    color: #F44336;
  }



.difficultyBody {
    margin: 0;
    height: 100%;
    overflow: hidden}

  h1 {
    display: grid;
    place-content: center;
  }
  
  h2 {
    display: grid;
  }

  h3 {
    display: grid;
  }

  form {
    padding-top: 2vh;
    display: grid;
    place-content: center;
  }
  
  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    height: 4vh;
  }
  
  .form-control + .form-control {
    margin-top: 1em;
  }
  
  .form-control:focus-within {
    color: var(--form-control-color);
  }
  
  input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }


  .popup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
  }

  
  #popup2:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  #popup2:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }
  

  div.sticky {
    width: 20vw;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top:10vh;
    left: 8vw;
    text-align: left;
    background-color: #ffd600;
    padding: 2vw;
  }

  .sticky h1 {
    font-size: 3vw;
    margin-top: 0;
  }

  .sticky h3 {
    font-size: 2vw;
    text-align: left;
    place-content: left;
  }

  .diff {
    place-content: center;
  }