{% extends "base.html" %}
{% block title %}Multiplication Quiz{% endblock %}
{% block content %}

  <div class="difficultyBody">
      <div id="content">
<div class="diffbox">
<h1>Speedy Maths</h1>
<h2 class="diff">Select Difficulty Level</h2>

<form action="/quiz" method="POST">
      <label class="form-control">
        <input type="radio" name="difficulty" value="Level 1" required>
        Level 1 - 2s, 5s, 10s
      </label>
      <label class="form-control"> 
        <input type="radio" name="difficulty" value="Level 2">
        Level 2 - 3s, 4s, 11s
      </label>
      <label class="form-control">
        <input type="radio" name="difficulty" value="Level 3">
        Level 3 - 6s, 9s
      </label>
      <label class="form-control">
        <input type="radio" name="difficulty" value="Level 4">
        Level 4 - 7s, 8s, 12s
        </label>
        <label class="form-control">
        <input type="radio" name="difficulty" value="Level 5">
        Level 5 - Decimals
        </label>
      <br>
      <button type="submit">Start Speedy Maths</button>
    </form>
        </div>
        <footer id="footer">
                MHR 2023
                </footer>
        {% endblock %}